<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">Choose your</span>
                    <span class="d-block text-dark">favorite stuffs</span>
                </h1>
            </div>
            <div *ngIf="(isLoggedIn$ | async)" class="new-product">
                <a routerLink="/products/new" class="btn custom-btn form-control mt-4 mb-3">
                    Add New Product
                </a>
            </div>
        </div>
    </div>
</header>

<section class="products section-padding">
    <div class="container">
        <div class="row">
            <form>
                <input [formControl]="searchControl" class="form-control" type="text" placeholder="Search for product">
            </form>
            <div class="col-12">
                <h2 class="mb-5">New Arrivals</h2>
            </div>
            <!-- (productList | slice:5:8) - show few products -->
            <app-product-item class="col-lg-4 col-12 mb-3" *ngFor="let product of productList;" [product]="product">
            </app-product-item>
            <div *ngIf="productList.length === 0 ">No Products!</div>
        </div>
    </div>
</section>