<section class="sign-in-form section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mx-auto col-12">

                <h1 class="hero-title text-center mb-5">Sign In</h1>

                <div class="row">
                    <div class="col-lg-8 col-11 mx-auto">
                        <form role="form" method="post" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
                            <!-- Handle errors from backend -->
                            <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
                            <div class="form-floating mb-4 p-0">
                                <!-- pattern="[^ @]*@[^ @]*" -->
                                <input formControlName="email" type="email" name="email" id="email" class="form-control"
                                    placeholder="Email address" required
                                    [class.is-invalid]="shouldShowControlError('email')"
                                    [class.is-valid]="shouldShowControlClass('email')">

                                <label for="email">Email address</label>
                                <ng-container *ngIf="shouldShowControlError('email')">
                                    <p *ngIf="shouldShowValidatorError('email')" class="error">
                                        Email is required!</p>
                                    <p *ngIf="!shouldShowValidatorError('email') && shouldShowValidatorError('email', 'pattern')"
                                        class="error">Email is not valid!</p>
                                </ng-container>
                            </div>

                            <div class="form-floating p-0">
                                <input formControlName="password" type="password" name="password" id="password"
                                    class="form-control" placeholder="Password" required
                                    [class.is-invalid]="shouldShowControlError('password')"
                                    [class.is-valid]="shouldShowControlClass('password')">

                                <label for="password">Password</label>
                                <ng-container *ngIf="shouldShowControlError('password')">
                                    <p *ngIf="shouldShowValidatorError('password')" class="error">
                                        Password is required!</p>
                                    <p *ngIf="!shouldShowValidatorError('password') && shouldShowValidatorError('password', 'pattern')"
                                        class="error">
                                        Wrong password is provided!</p>
                                </ng-container>
                            </div>

                            <button [disabled]="loginFormGroup.invalid" type="submit"
                                class="btn custom-btn form-control mt-4 mb-3">
                                Sign in
                            </button>

                            <p class="text-center">Don’t have an account? <a routerLink="/register">Create One</a></p>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>