<div class="profile">
    <ng-container *ngIf="!!currentUser">
        <h3>User Info:</h3>
        <ng-container *ngIf="!isInEditMode">
            <!-- Wprkaround, because there is some issue with the backend profile image url. -->
            <img src="http://localhost:8000{{currentUser.profile_image}}" alt="default user">
            <div class="flex">
                <p>First Name: </p>
                <p>{{currentUser.first_name}}</p>
            </div>
            <div class="flex">
                <p>Last Name: </p>
                <p>{{currentUser.last_name}}</p>
            </div>
            <div class="flex">
                <p>Age: </p>
                <p>{{currentUser.age}}</p>
            </div>
            <div class="flex">
                <p>Social media links: </p>
                <p>
                    <a href={{currentUser.facebook_url}}><i class="fa-brands fa-facebook-f fa-xl"></i></a>
                    <a href={{currentUser.linked_in_url}}><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                    <a href={{currentUser.github_url}}><i class="fa-brands fa-github fa-xl"></i></a>
                </p>
            </div>
            <button (click)="isInEditMode = true" class="btn custom-btn form-control mt-4 mb-3 btn-edit">Edit</button>
        </ng-container>
        <ng-container *ngIf="isInEditMode">
            <form #editProfileForm="ngForm" (ngSubmit)="updateProfile()" class="edit-profile">
                <div class="flex">
                    <p>First Name: </p>
                    <input #firstName="ngModel" ngModel type="text" name="first-name" id="first-name" [(ngModel)]="currentUser.first_name">
                </div>
                <div class="flex">
                    <p>Last Name: </p>
                    <input #lastName="ngModel" ngModel type="text" name="last-name" id="last-name" [(ngModel)]="currentUser.last_name">
                </div>
                <div class="flex">
                    <p>Age: </p>
                    <input #age="ngModel" ngModel type="number" name="age" id="age" [(ngModel)]="currentUser.age">
                </div>
                <div class="flex">
                    <p>Image: </p>
                    <input #profileImage="ngModel" ngModel type="file" name="image" id="image" [(ngModel)]="currentUser.profile_image">
                </div>
                <div class="flex">
                    <p>Facebook URL: </p>
                    <input #socialFacebook="ngModel" ngModel type="url" name="facebook" id="facebook" [(ngModel)]="currentUser.facebook_url">
                </div>
                <div class="flex">
                    <p>LinkedIn URL: </p>
                    <input #socialLinkedIn="ngModel" ngModel type="url" name="linkedIn" id="linkedIn" [(ngModel)]="currentUser.linked_in_url">
                </div>
                <div class="flex">
                    <p>GitHub URL: </p>
                    <input #socialGitHub="ngModel" ngModel type="url" name="gitHub" id="gitHub" [(ngModel)]="currentUser.github_url">
                </div>
                <!-- [disabled]="editProfileForm.invalid" -->
                <button class="btn custom-btn form-control mt-4 mb-3 btn-save">Update</button>
                <button type="button" (click)="isInEditMode = false"
                    class="btn custom-btn form-control mt-4 mb-3 btn-cancel">Cancel</button>
            </form>
        </ng-container>
    </ng-container>
</div>