.hero-title, p {
    color: #5A5C6C;
}

.hero-title:hover, p:hover {
    color: #FF4400;
}

#prd_description {
    /* min-width: 500px; */
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

#prd_image {
    padding-top: 35px;
}

#prd_image_label {
    padding-bottom: 20px;
}

.error {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.btn-create {
    background-color: #FF4400;
    margin-right: 5px;
}

.btn-create:hover {
    background-color: #5A5C6C;
}

.btn-cancel {
    background-color: #5A5C6C;
    margin-left: 5px;
}

.btn-cancel:hover {
    background-color: #FF4400;
}

.btn-create, .btn-cancel {
    width: 49%;
}