.hero-title, p {
    color: #5A5C6C;
}

.hero-title:hover, p:hover {
    color: #FF4400;
}

.custom-btn {
    background-color: #FF4400;
}

.custom-btn:hover {
    background-color: #5A5C6C;
}

#prd_description {
    /* min-width: 500px; */
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

#prd_image {
    padding-top: 35px;
}

#prd_image_label {
    padding-bottom: 20px;
}